<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="がっきれんしゅう"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:icon="@android:drawable/ic_media_play">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CastanetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TambourineActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HarmonicaActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

    </application>
</manifest>
